.login{
    display: flex;
}

.login-logo{
    width: 50vw;
    height: 100vh;
}

.login-logo img{
    height: 100vh;
}

.login-details{
    align-self: center;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.5rem;
    
    /* background-color: #fef7ed; */
}

.login-details input[type="text"], .login-details input[type="password"] {
    border-radius: 30px;
    padding: 7px;
    border-color: #0099ff;
    border-style: solid;
    width: 40vh;
    font-weight: 900;
}
.login-details h1{
    color: #0099ff;
    font-weight: 1000;
}

.login-home {
    padding: 10px 60px;
    font-size: 1rem;
    border-style: none;
    border-radius: 30px;
    background-color: #0099ff;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    width: 40vh;
    text-align: center;
}

.login-details > label {
    font-size: 1rem;
    margin-right: 30vh;
}

.login-signup {
    margin-top: 20px;
    font-size: 1rem;
}

.login-details > input[type="text"]:focus, input[type="password"]:focus{
    border-color: lightblue;
}

.login-home:hover{
    cursor: pointer;
}
